<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <!-- bootstrap copiado do exercício que o professor deu -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
        body{
            background: url("../pics/sky.png") no-repeat; /* why????? */
        }
        .localidade { 
            font-family: Montserrat, sans-serif;
            align-content: center;
            padding: 20px;
            background-color:darkseagreen;
            text-align: center;
            text-transform: capitalize;
            color: #ffffff;
        }
        .info { 
            font-family: Montserrat, sans-serif;
            background-color: #3a46f0;
            align-content: center;
            text-align: center;
            color: #ffffff;
            padding: 20px;
        }

        .icons{
            align-content: center;
        }
        
        ul{
            padding: 20px;
            font-family: Montserrat, sans-serif;
            list-style-type: circle;
            color: #000;
            align-content: center;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="localidade">
        <h1>{{texto}}</h1>
    </div>

    <div>
        <div class="info">
            <h2>{{icone}}</h2>
            <h2>{{texto2}}</h2>
            <h3>{{texto3}}</h3>
        </div>
        <ul>
            <li>{{texto4}}</li>
            <li>{{texto5}}</li>
            <li>{{texto6}}</li>
            <li>{{texto7}}</li>
            <li>{{texto8}}</li>
            <li>{{texto9}}</li>
            <li>{{texto10}}</li>
        </ul>
    </div>

    <figure class="icons">
        <canvas id="clear-day" width="64" height="64">
        </canvas>

        <canvas id="clear-night" width="64" height="64">
        </canvas>

        <canvas id="partly-cloudy-day" width="64" height="64">
        </canvas>

        <canvas id="partly-cloudy-night" width="64" height="64">
        </canvas>

        <canvas id="cloudy" width="64" height="64">
        </canvas>

        <canvas id="rain" width="64" height="64">
        </canvas>

        <canvas id="sleet" width="64" height="64">
        </canvas>

        <canvas id="snow" width="64" height="64">
        </canvas>

        <canvas id="wind" width="64" height="64">
        </canvas>

        <canvas id="fog" width="64" height="64">
        </canvas>
      </figure>

      <script src="skycons.js"></script>

    <script>
        var skycons = new Skycons({"color": "pink"});

        skycons.add("clear-day", Skycons.CLEAR_DAY);
        skycons.add("clear-night", Skycons.CLEAR_NIGHT);
        skycons.add("partly-cloudy-day", Skycons.PARTLY_CLOUDY_DAY);
        skycons.add("partly-cloudy-night", Skycons.PARTLY_CLOUDY_NIGHT);
        skycons.add("cloudy", Skycons.CLOUDY);
        skycons.add("rain", Skycons.RAIN);
        skycons.add("sleet", Skycons.SLEET);
        skycons.add("snow", Skycons.SNOW);
        skycons.add("wind", Skycons.WIND);
        skycons.add("fog", Skycons.FOG);

        icons.play();

        language = "pt";
    </script>
</body>
</html>