<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <!-- bootstrap copiado do exercício que o professor deu -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
        body{
            background: url("../pics/sky.png") no-repeat; /* why????? */
        }

        .btn { 
            font-family: Montserrat, sans-serif;
            background-color: #3a46f0; 
            color: #ffffff;
        }

        .localidade { 
            font-family: Montserrat, sans-serif;
            align-content: center;
            padding: 20px;
            background-color:white;
            text-align: center;
            text-transform: capitalize;
            color: #000;
        }

        .icons{
            align-content: center;
        }

        .onThisDay{
            -webkit-column-count: 2;
            -moz-column-count: 2;
            display: table;
            width: 100%;
        }

        .todayInfo { 
            display: table-cell;
            font-family: Montserrat, sans-serif;
            background-color: #000;
            text-align: center;
            color: #ffffff;
            padding: 20px;
        }

        .todayList{
            display: table-cell;
            background-color:white;
            padding: 20px;
            font-family: Montserrat, sans-serif;
            list-style-type: none;
            color: #000;
            text-align: center;
            align-content: center;
        }

        .duringThisWeek{
            -webkit-column-count: 7;
            -moz-column-count: 7;
            display: table;
            width: 100%;
        }

        .weekInfo { 
            display: table-cell;
            font-family: Montserrat, sans-serif;
            background-color: #000;
            text-align: center;
            color: #ffffff;
            padding: 20px;
        }

        

        .weekList{
            display: table-cell;
            background-color:white;
            padding: 20px;
            font-family: Montserrat, sans-serif;
            list-style-type: none;
            color: #000;
            text-align: center;
            align-content: center;
        }

    </style>
</head>

<body>
    <div class="localidade">
        <button type="submit" class="btn" action="/index" onclick="location.href='/'">Voltar atrás</button>
        <h1>{{texto}}</h1>
    </div>

    <div class="onThisDay">
        <div class="todayInfo">
                <figure class="icons">
        <canvas id="{{icone}}" width="90" height="90">
        </canvas>
      </figure>
            <h2>{{texto2}}</h2>
            <h3>{{texto3}}</h3>
        </div>
        <div class="todayList">
            <ul>
                <li>{{texto4}}</li>
                <li>{{texto5}}</li>
                <li>{{texto6}}</li>
                <li>{{texto7}}</li>
                <li>{{texto8}}</li>
                <li>{{texto9}}</li>
                <li>{{texto10}}</li>
            </ul>
        </div>
    </div>
    <div class="duringThisWeek">
        <div class="weekInfo">
                <figure class="icons">
        <canvas id="{{icone2}}" width="90" height="90">
        </canvas>
      </figure>
        </div>
        <div class="weekList">
            <ul>
                <li>{{texto11}}</li>
                <li>{{texto12}}</li>
                <li>{{texto13}}</li>
                <li>{{texto7}}</li>
                <li>{{texto8}}</li>
                <li>{{texto9}}</li>
                <li>{{texto10}}</li>
            </ul>
        </div>
    </div>

      <script src="skycons.js"></script>

    <script>
    var icons = new Skycons({"color": "white"}),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

      for(i = list.length; i--; )
        icons.set(list[i], list[i]);
              

        icons.play();

        language = "pt";

        
    </script>
</body>
</html>